<html>
	<head>
        <script type="text/javascript" src="/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="/underscore-min.js"></script>
        {% block scripts %}{% endblock %}
		
		<title> Redirect links </title>
	</head>

	<body>
	
		{% block content %} {% endblock %}	
	
	</body>

</html>