{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="/script.js"></script>
{% endblock %}

{% block content %}
    {{ form.link_list }}
    <div id="table-block"></div>
{% endblock %}