{% extends "base.html" %}

{% block content %}
    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}
    <form action="." method="post">
        {% if form.url.errors %}
            <ul class="errors">{% for error in form.url.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ form.url.label }}
        {{ form.url }}
        <input type="submit" value="Submit"/>
    </form>
    <table>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td><a href="/link/{{ link.id }}">{{ link.url }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}